bitsandbytes
colorama
datasets
docling
litellm
pandas
pydantic
sentence-transformers
tiktoken
streamlit
qdrant-client
aiohttp
langgraph
langchain>=0.3.0
langchain-core>=0.3.0
langgraph-checkpoint
langchain-openai>=0.2.0
groq